[Unit]
Description=Set WLAN mac address based on board serial
Wants=network-pre.target
Before=network-pre.target
After=sys-subsystem-net-devices-wlan0.device
ConditionPathExists=/sys/class/net/wlan0

[Service]
Type=oneshot
ExecStart=/usr/local/bin/nabu-pmac-set
TimeoutStartSec=10

[Install]
WantedBy=multi-user.target
